.title__section::before,
.title__section::after{
  display: none;
}
@media(min-width:1200px) {.title__section::before,
.title__section::after {
  display:inline-block;
  content:'';
  width:60px;
  height:2px;
  background-color:$grey4-color;
  margin: 12px;
  margin-bottom:6px;
}
}

.title__section {
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: $turquoise-color;
}

@media (min-width:1200px){
  .title__section::before,
.title__section::after{
  margin-bottom: 10px;
}
}