$turquoise-color: #1ab798;
$maintext-color: #282528;
$grey1-color: #7e7c7e;
$grey2-color: #bface2;
$grey3-color: #939393;
$grey4-color: #b2b2b2;
$white-color: #ffffff;
$blue-color: #31d4e7;
$darkblue-color: #0098cd;
$darkerblue-color: #3b5997;

